// Neuton Regular
@font-face {
    font-family: 'Neuton';
    src: url('/type/Neuton/neuton-regular-webfont.eot');
    src: url('/type/Neuton/neuton-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/type/Neuton/neuton-regular-webfont.woff') format('woff'),
         url('/type/Neuton/neuton-regular-webfont.ttf') format('truetype'),
         url('/type/Neuton/neuton-regular-webfont.svg#NeutonRegular') format('svg');
    font-weight: 400;
    font-style: normal;

}

// Neuton Bold
@font-face {
    font-family: 'Neuton';
    src: url('/type/Neuton/neuton-bold-webfont.eot');
    src: url('/type/Neuton/neuton-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/type/Neuton/neuton-bold-webfont.woff') format('woff'),
         url('/type/Neuton/neuton-bold-webfont.ttf') format('truetype'),
         url('/type/Neuton/neuton-bold-webfont.svg#NeutonBold') format('svg');
    font-weight: 700;
    font-style: normal;
}

// Neuton Extra Bold
@font-face {
    font-family: 'Neuton';
    src: url('/type/Neuton/neuton-extrabold-webfont.eot');
    src: url('/type/Neuton/neuton-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/type/Neuton/neuton-extrabold-webfont.woff') format('woff'),
         url('/type/Neuton/neuton-extrabold-webfont.ttf') format('truetype'),
         url('/type/Neuton/neuton-extrabold-webfont.svg#NeutonExtrabold') format('svg');
    font-weight: 900;
    font-style: normal;

}

// Neuton Extra Light
@font-face {
    font-family: 'Neuton';
    src: url('/type/Neuton/neuton-extralight-webfont.eot');
    src: url('/type/Neuton/neuton-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/type/Neuton/neuton-extralight-webfont.woff') format('woff'),
         url('/type/Neuton/neuton-extralight-webfont.ttf') format('truetype'),
         url('/type/Neuton/neuton-extralight-webfont.svg#NeutonExtralight') format('svg');
    font-weight: 100;
    font-style: normal;

}

// Neuton Italic
@font-face {
    font-family: 'Neuton';
    src: url('/type/Neuton/neuton-italic-webfont.eot');
    src: url('/type/Neuton/neuton-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/type/Neuton/neuton-italic-webfont.woff') format('woff'),
         url('/type/Neuton/neuton-italic-webfont.ttf') format('truetype'),
         url('/type/Neuton/neuton-italic-webfont.svg#NeutonItalic') format('svg');
    font-weight: 400;
    font-style: italic;

}

// Neuton Light
@font-face {
    font-family: 'Neuton';
    src: url('/type/Neuton/neuton-light-webfont.eot');
    src: url('/type/Neuton/neuton-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/type/Neuton/neuton-light-webfont.woff') format('woff'),
         url('/type/Neuton/neuton-light-webfont.ttf') format('truetype'),
         url('/type/Neuton/neuton-light-webfont.svg#NeutonLight') format('svg');
    font-weight: 200;
    font-style: normal;

}

// Neuton Cursive Regular
@font-face {
    font-family: 'Neuton';
    src: url('/type/Neuton/neutoncursive-regular-webfont.eot');
    src: url('/type/Neuton/neutoncursive-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/type/Neuton/neutoncursive-regular-webfont.woff') format('woff'),
         url('/type/Neuton/neutoncursive-regular-webfont.ttf') format('truetype'),
         url('/type/Neuton/neutoncursive-regular-webfont.svg#NeutonCursiveRegular') format('svg');
    font-weight: 400;
    font-style: oblique;

}