/*------------------------------------------------------------------------------
INDEX.CSS -- Annotare ❧ For Inquistive Minds
------------------------------------------------------------------------------*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

a {
  color: #00e; }

a:visited {
  color: #551a8b; }

a:hover {
  color: #06e; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

input:invalid, textarea:invalid {
  background-color: #f0dddd; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

#dialog {
  position: fixed;
  left: 50%;
  top: 150px;
  max-width: 600px;
  min-width: 250px;
  border: 1px solid #DDD;
  border-bottom-color: #cacaca;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 15px #666;
  background: white;
  z-index: 1000; }

#dialog .content {
  padding: 15px 20px; }

#dialog h1 {
  margin: 0 0 5px 0;
  font-size: 16px;
  font-weight: normal; }

#dialog p {
  margin: 0;
  padding: 0;
  font-size: .9em; }

#dialog .actions button {
  padding: 5px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer; }

#dialog .actions button:hover {
  text-decoration: underline; }

#dialog .actions button.main {
  padding: 5px 15px;
  background: -webkit-linear-gradient(top, white 20%, #eeeeee);
  border: 1px solid #eee;
  border-bottom-color: #cacaca;
  -webkit-border-radius: 3px;
  outline: none; }

#dialog .actions button.main:hover {
  text-decoration: none;
  background: -webkit-linear-gradient(top, white 50%, #eeeeee); }

#dialog .actions button.main:active {
  background: -webkit-linear-gradient(bottom, white 20%, #eeeeee); }

#dialog.modal {
  -webkit-box-shadow: 0 1px 8px 0 black; }

/* close */
#dialog .close {
  position: absolute;
  top: 3px;
  right: 10px;
  text-decoration: none;
  color: #888;
  font-size: 16px;
  font-weight: bold;
  display: none; }

#dialog.closable .close {
  display: block; }

#dialog .close:hover {
  color: black; }

#dialog .close:active {
  margin-top: 1px; }

/* slide */
#dialog.slide {
  -webkit-transition: opacity 300ms, top 300ms; }

#dialog.slide.hide {
  opacity: 0;
  top: -500px; }

/* fade */
#dialog.fade {
  -webkit-transition: opacity 300ms; }

#dialog.fade.hide {
  opacity: 0; }

/* scale */
#dialog.scale {
  -webkit-transition: -webkit-transform 300ms;
  -webkit-transform: scale(1); }

#dialog.scale.hide {
  -webkit-transform: scale(0); }

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition: opacity 300ms;
  z-index: 500; }

#overlay.hide {
  pointer-events: none;
  opacity: 0; }

.confirmation .actions {
  border-top: 1px solid #eee;
  padding: 5px;
  text-align: right;
  background: #fafafa;
  -webkit-box-shadow: inset 0 1px 0 white; }

.color-picker canvas {
  border: 1px solid #888;
  cursor: crosshair; }

#notifications {
  position: fixed;
  top: 10px;
  right: 15px; }

#notifications li {
  margin-bottom: 5px;
  list-style: none; }

.notification {
  position: relative;
  max-width: 600px;
  min-width: 250px;
  border: 1px solid #DDD;
  border-bottom-color: #cacaca;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 15px #666;
  background: white;
  z-index: 9999; }

.notification .content {
  padding: 15px 20px; }

.notification h1 {
  margin: 0 0 5px 0;
  font-size: 16px;
  font-weight: normal; }

.notification p {
  margin: 0;
  padding: 0;
  font-size: .9em; }

.notification .close {
  position: absolute;
  top: 5px;
  right: 10px;
  text-decoration: none;
  color: #888;
  display: none; }

.notification.closable .close {
  display: block; }

.notification .close:hover {
  color: black; }

.notification .close:active {
  margin-top: 1px; }

/* close */
.notification .close {
  position: absolute;
  top: 3px;
  right: 10px;
  text-decoration: none;
  color: #888;
  font-size: 16px;
  font-weight: bold;
  display: none; }

/* slide */
.notification.slide {
  -webkit-transition: opacity 300ms, top 300ms; }

.notification.slide.hide {
  opacity: 0;
  top: -500px; }

/* fade */
.notification.fade {
  -webkit-transition: opacity 300ms; }

.notification.fade.hide {
  opacity: 0; }

/* scale */
.notification.scale {
  -webkit-transition: -webkit-transform 300ms;
  -webkit-transform: scale(1); }

.notification.scale.hide {
  -webkit-transform: scale(0); }

#context-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  margin: 0;
  padding: 0;
  background: white;
  -webkit-border-radius: 5px;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.2); }

#context-menu li {
  list-style: none; }

#context-menu li a {
  display: block;
  padding: 5px 30px 5px 12px;
  text-decoration: none;
  border-top: 1px solid #eee;
  color: #2e2e2e; }

#context-menu li:first-child a {
  border-top: none; }

#context-menu li a:hover {
  background: #f1faff; }

/* from: http://desandro.github.com/3d-webkit-transforms */
.card {
  width: 200px;
  height: 260px;
  position: relative;
  -webkit-perspective: 800; }

.card .wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  border: 1px solid #eee;
  border-bottom-color: #cacaca;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 0 white, 0 1px 4px 0 #dddddd; }

.card .face {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; }

.card .back {
  -webkit-transform: rotateY(180deg); }

.card.flipped .wrapper {
  -webkit-transform: rotateY(180deg); }

/* sideflip effect */
.card.sideflip .wrapper {
  -webkit-transform-origin: right center; }

.card.sideflip.flipped .wrapper {
  -webkit-transform: translateX(-100%) rotateY(180deg); }

@font-face {
  font-family: 'Neuton';
  src: url("/type/Neuton/neuton-regular-webfont.eot");
  src: url("/type/Neuton/neuton-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/type/Neuton/neuton-regular-webfont.woff") format("woff"), url("/type/Neuton/neuton-regular-webfont.ttf") format("truetype"), url("/type/Neuton/neuton-regular-webfont.svg#NeutonRegular") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Neuton';
  src: url("/type/Neuton/neuton-bold-webfont.eot");
  src: url("/type/Neuton/neuton-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/type/Neuton/neuton-bold-webfont.woff") format("woff"), url("/type/Neuton/neuton-bold-webfont.ttf") format("truetype"), url("/type/Neuton/neuton-bold-webfont.svg#NeutonBold") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Neuton';
  src: url("/type/Neuton/neuton-extrabold-webfont.eot");
  src: url("/type/Neuton/neuton-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("/type/Neuton/neuton-extrabold-webfont.woff") format("woff"), url("/type/Neuton/neuton-extrabold-webfont.ttf") format("truetype"), url("/type/Neuton/neuton-extrabold-webfont.svg#NeutonExtrabold") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Neuton';
  src: url("/type/Neuton/neuton-extralight-webfont.eot");
  src: url("/type/Neuton/neuton-extralight-webfont.eot?#iefix") format("embedded-opentype"), url("/type/Neuton/neuton-extralight-webfont.woff") format("woff"), url("/type/Neuton/neuton-extralight-webfont.ttf") format("truetype"), url("/type/Neuton/neuton-extralight-webfont.svg#NeutonExtralight") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Neuton';
  src: url("/type/Neuton/neuton-italic-webfont.eot");
  src: url("/type/Neuton/neuton-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/type/Neuton/neuton-italic-webfont.woff") format("woff"), url("/type/Neuton/neuton-italic-webfont.ttf") format("truetype"), url("/type/Neuton/neuton-italic-webfont.svg#NeutonItalic") format("svg");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Neuton';
  src: url("/type/Neuton/neuton-light-webfont.eot");
  src: url("/type/Neuton/neuton-light-webfont.eot?#iefix") format("embedded-opentype"), url("/type/Neuton/neuton-light-webfont.woff") format("woff"), url("/type/Neuton/neuton-light-webfont.ttf") format("truetype"), url("/type/Neuton/neuton-light-webfont.svg#NeutonLight") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Neuton';
  src: url("/type/Neuton/neutoncursive-regular-webfont.eot");
  src: url("/type/Neuton/neutoncursive-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/type/Neuton/neutoncursive-regular-webfont.woff") format("woff"), url("/type/Neuton/neutoncursive-regular-webfont.ttf") format("truetype"), url("/type/Neuton/neutoncursive-regular-webfont.svg#NeutonCursiveRegular") format("svg");
  font-weight: 400;
  font-style: oblique; }

body.book {
  background: #e8e1d3 url("/img/bg.png") repeat;
  color: #444444;
  font-size: 0.813em;
  line-height: 1.5;
  font-family: "Myriad Pro", sans-serif;
  margin: 0 0 0 0;
  /*------------------------------------------------------------------------------
  -- HEADER
  ------------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------
  -- TOOLBAR
  ------------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------
  -- DOCUMENT
  ------------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------
  -- FOOTER
  ------------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------
  -- EDIT VIEW
  ------------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------
  -- LIST VIEW
  ------------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------
  -- MODAL
  ------------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------
  -- ANNOTATIONS
  ------------------------------------------------------------------------------*/ }
  body.book h1, body.book h2, body.book h3, body.book h4, body.book h5, body.book h6 {
    font-family: old-standard-1, old-standard-2, "Times New Roman", Times, serif;
    font-weight: normal;
    margin: 0; }
  body.book h1 {
    font-size: 3.444em; }
  body.book h2 {
    font-size: 2.128em;
    margin: 1em 0;
    color: rgba(68, 68, 68, 0.6); }
  body.book h3 {
    font-size: 2.128em;
    color: rgba(68, 68, 68, 0.6); }
  body.book h4 {
    font-size: 1.315em; }
  body.book h5 {
    font-size: 1.315em; }
  body.book h6 {
    font-size: 0.813em; }
  body.book input {
    color: #444444;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #777777;
    outline: none;
    font-size: 1em;
    font-family: Consolas, Inconsolata, monospace;
    margin-bottom: 20px; }
    body.book input.placeholder {
      color: #777777; }
  body.book textarea.placeholder {
    color: #777777 !important; }
  body.book a {
    color: #91C0EB;
    text-decoration: none; }
    body.book a:hover {
      background-color: rgba(189, 172, 151, 0.5); }
  body.book p {
    line-height: 1.5em; }
  body.book .wrap {
    max-width: 64%;
    margin: 0 auto;
    overflow: auto; }
  body.book header nav {
    overflow: auto;
    padding: 1% 2% 1% 0;
    max-width: 65%;
    margin: 0 auto; }
    body.book header nav a {
      color: #444; }
    body.book header nav h1 {
      float: left;
      border-right: 3px double #211C18;
      margin: 0.3% 1% 0 1%;
      padding: 0.7% 0.35em 0 0;
      font-size: 2.128em;
      text-transform: uppercase; }
      body.book header nav h1 a {
        font-family: old-standard-1, old-standard-2 !important;
        display: block;
        margin: 0;
        padding: 0 0.7em; }
    body.book header nav ul {
      overflow: auto;
      margin: 0.8% 1.3% 1.3% 1.3%;
      padding: 0; }
      body.book header nav ul li {
        display: block;
        float: left; }
        body.book header nav ul li a {
          text-transform: uppercase;
          display: block;
          padding: 1em; }
  body.book header #status {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.85em;
    color: rgba(68, 68, 68, 0.6); }
    body.book header #status.online #online {
      display: block; }
      body.book header #status.online #online em {
        font-style: normal;
        color: rgba(132, 176, 84, 0.8); }
    body.book header #status.online #offline {
      display: none; }
      body.book header #status.online #offline em {
        font-style: normal;
        color: rgba(182, 32, 28, 0.7); }
    body.book header #status.offline #online {
      display: none; }
      body.book header #status.offline #online em {
        font-style: normal;
        color: rgba(132, 176, 84, 0.8); }
    body.book header #status.offline #offline {
      display: block; }
      body.book header #status.offline #offline em {
        font-style: normal;
        color: rgba(182, 32, 28, 0.7); }
  body.book .tool-bar-wrap, body.book footer {
    width: 100%;
    border-top: 1px solid rgba(68, 68, 68, 0.9);
    border-bottom: 1px solid rgba(68, 68, 68, 0.9);
    -webkit-box-shadow: inset 0 0 10px #444444;
    background: rgba(182, 32, 28, 0.7) url("/img/red-linen.png");
    margin: 0 0 2% 0;
    text-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
    color: #e8e2d5; }
  body.book #tool-bar {
    max-width: 66%;
    padding: 1%;
    margin: 0 auto;
    font-family: museo-sans-1, museo-sans-2;
    text-transform: uppercase;
    font-size: 0.85em; }
    body.book #tool-bar input {
      position: relative;
      top: 10px;
      padding: 1.1% 0.5% 0.8% 0.5%;
      margin: 0 1.5%; }
    body.book #tool-bar a {
      padding: 1.1% 0.5% 0.8% 0.5%;
      margin: 0 1.5%;
      color: #e8e2d4; }
      body.book #tool-bar a:hover {
        background-color: transparent;
        -webkit-box-shadow: 0 2px 0 rgba(232, 226, 212, 0.8); }
      body.book #tool-bar a.active {
        -webkit-box-shadow: 0 2px 0 rgba(232, 226, 212, 0.8), 0 -2px 0 rgba(232, 226, 212, 0.8); }
  body.book .one-column {
    position: relative; }
    body.book .one-column article {
      width: 99%;
      border-right: none; }
    body.book .one-column aside {
      width: 0;
      display: none; }
  body.book .two-column {
    position: relative; }
    body.book .two-column article {
      width: 66%;
      border-right: 1px solid #211C18;
      padding-right: 2%;
      float: left; }
    body.book .two-column aside {
      width: 30%;
      margin-left: 69%; }
  body.book footer {
    clear: both;
    padding: 0.5% 0;
    text-transform: uppercase;
    font-size: 0.9em;
    word-spacing: 0.5em;
    font-size: 0.85em; }
    body.book footer section {
      padding: 1.1% 0.5%;
      margin: 0 1.5%; }
  body.book #stickey-footer-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -78px 0;
    /* Set footer height. */ }
  body.book footer, body.book .push {
    height: 78px;
    /* Set footer height. */ }
  body.book .new_document input, body.book .edit_document input {
    width: 80%; }
  body.book .new_document textarea, body.book .edit_document textarea {
    min-height: 500px;
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    background: #e8e1d3 url("/img/bg.png") repeat;
    font-size: 1em;
    font-family: Consolas, Inconsolata, monospace;
    color: #444444;
    outline: none; }
  body.book .list .document {
    border: 1px solid rgba(68, 68, 68, 0.8);
    background: rgba(189, 172, 151, 0.5);
    width: 95%;
    margin: 2% 0 5% 2%;
    padding: 0.5em; }
    body.book .list .document:hover {
      cursor: pointer;
      -webkit-box-shadow: 0 0 20px white; }
  body.book .modal {
    background: #FAF8F7;
    overflow: auto;
    -webkit-border-radius: 20px;
    padding: 20px; }
    body.book .modal h2 {
      margin-top: 0; }
  body.book #history {
    overflow: auto; }
    body.book #history ul {
      padding: 0; }
      body.book #history ul li {
        list-style: none; }
        body.book #history ul li pre {
          overflow: auto; }
  body.book .highlight-mode span.highlightable:hover {
    background-color: #CCC;
    cursor: pointer; }
  body.book .highlight, body.book .note {
    background-color: rgba(151, 201, 56, 0.5);
    padding: 0.2em 0 0.2em 0; }
    body.book .highlight:hover .note-detail, body.book .note:hover .note-detail {
      z-index: 2000; }
  body.book .note-detail {
    position: absolute;
    right: 2.3%;
    width: 29%;
    padding: 3px;
    background: #e8e1d3 url("/img/bg.png") repeat;
    border-top: 1px solid #444;
    border-left: 3px solid #444;
    z-index: 1000; }
    body.book .note-detail:hover {
      z-index: 2000; }

body.minimal {
  background: #eeeeee url("/img/white_texture.png") repeat;
  color: #444444;
  width: 95%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  font-size: 11px;
  line-height: 1.7;
  font-family: Verdana, "Bitstream Vera Sans", sans-serif; }
  body.minimal .sans, body.minimal h5, body.minimal h6, body.minimal #dialog, body.minimal .notification, body.minimal #list-view form#search-form input {
    font-family: Verdana, "Bitstream Vera Sans", sans-serif; }
  body.minimal .serif, body.minimal h1, body.minimal h2, body.minimal h3, body.minimal h4, body.minimal #dialog h1, body.minimal #dialog h2, body.minimal #dialog h3, body.minimal #dialog h4, body.minimal #dialog h5, body.minimal #dialog h6, body.minimal .notification h1, body.minimal .notification h2, body.minimal .notification h3, body.minimal .notification h4, body.minimal .notification h5, body.minimal .notification h6 {
    font-family: "Neuton", Palatino, Georgia, serif; }
  body.minimal .bold, body.minimal h3, body.minimal h4, body.minimal h5, body.minimal h6 {
    font-weight: bold; }
  body.minimal .normal, body.minimal h1, body.minimal h2 {
    font-weight: normal; }
  body.minimal h1, body.minimal h2, body.minimal h3, body.minimal h4, body.minimal h5, body.minimal h6 {
    line-height: 1;
    margin: 10px 0 10px 0; }
  body.minimal h1 {
    font-size: 2.618em; }
  body.minimal h2 {
    font-size: 2.618em; }
  body.minimal h3 {
    font-size: 1.618em; }
  body.minimal h4 {
    font-size: 1.618em; }
  body.minimal h5 {
    font-size: 1em; }
  body.minimal h6 {
    font-size: 1em; }
  body.minimal a {
    text-decoration: none;
    color: #444444;
    font-weight: bold; }
  body.minimal #dialog, body.minimal .notification {
    font-size: 1.1em; }
    body.minimal #dialog h1, body.minimal #dialog h2, body.minimal #dialog h3, body.minimal #dialog h4, body.minimal #dialog h5, body.minimal #dialog h6, body.minimal .notification h1, body.minimal .notification h2, body.minimal .notification h3, body.minimal .notification h4, body.minimal .notification h5, body.minimal .notification h6 {
      font-size: 1.3em;
      font-weight: bold; }
  body.minimal header {
    width: 95%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    top: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; }
    body.minimal header nav {
      padding: 0 20px; }
      body.minimal header nav h1 {
        float: left; }
      body.minimal header nav h1 a, body.minimal header nav ul li a {
        padding-top: 10px;
        padding-bottom: 10px; }
      body.minimal header nav h1, body.minimal header nav h1 a, body.minimal header nav ul, body.minimal header nav ul a, body.minimal header nav ul li, body.minimal header nav ul li a {
        margin: 0;
        font-size: 1em;
        line-height: 1.7;
        color: #EEE;
        font-weight: bold;
        display: inline-block; }
      body.minimal header nav ul {
        float: right; }
        body.minimal header nav ul li {
          margin: 0;
          padding: 0 10px; }
          body.minimal header nav ul li:not(:first-child) {
            border-left: 1px solid rgba(38, 38, 38, 0.8); }
  body.minimal section.two-column article {
    width: 75%;
    float: left; }
  body.minimal section.two-column aside {
    width: 20%;
    float: left; }
  body.minimal blockquote {
    border-left: 8px solid #CCC;
    margin-left: 10px;
    padding-left: 7px; }
  body.minimal .wrap {
    display: block;
    position: relative; }
  body.minimal .note, body.minimal .highlight {
    border-radius: 2px;
    padding: 0 2px 0 2px; }
  body.minimal .note:nth-child(even), body.minimal .note:nth-child(even) .note-detail {
    background: rgba(82, 171, 209, 0.3);
    border: 1px solid rgba(40, 117, 149, 0.3);
    border-radius: 2px; }
  body.minimal .note:nth-child(odd), body.minimal .note:nth-child(odd) .note-detail {
    background: rgba(104, 179, 100, 0.3);
    border: 1px solid rgba(61, 119, 58, 0.3);
    border-radius: 2px; }
  body.minimal .note .note-detail {
    display: inline-block;
    max-width: 20%;
    height: 1.7em;
    padding: 1px 2px;
    position: absolute;
    right: 0px;
    z-index: 5000;
    overflow: hidden; }
  body.minimal .note:hover .note-detail, body.minimal .note .note-detail:focus {
    height: auto;
    z-index: 6000;
    outline: none; }
  body.minimal .note .note-detail:focus {
    box-shadow: inset 0 0 2px #666; }
  body.minimal .highlight {
    background: rgba(209, 82, 82, 0.3);
    border: 1px solid rgba(149, 40, 40, 0.3);
    border-radius: 2px; }
  body.minimal #application {
    margin-top: 56px;
    margin-bottom: 56px; }
  body.minimal #tool-bar {
    width: 95%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.8);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
    body.minimal #tool-bar a, body.minimal #tool-bar label {
      font-size: 1em;
      line-height: 1.7;
      color: #EEE;
      font-weight: bold;
      display: inline-block;
      padding: 10px 20px; }
    body.minimal #tool-bar input[type='range'] {
      position: relative;
      top: 5px; }
  body.minimal #list-view form#search-form {
    width: 100%;
    margin: 10px 0 20px 0;
    padding: 0; }
    body.minimal #list-view form#search-form input {
      width: 98%;
      margin: 0 0 0 -1px;
      border: 1px solid #999;
      padding: 10px 1% 10px 1%;
      font-size: 1.3em;
      border-radius: 2px;
      background: rgba(255, 255, 255, 0.4); }
      body.minimal #list-view form#search-form input:focus {
        outline: none; }
  body.minimal #list-view article.document {
    height: 200px;
    float: left;
    cursor: pointer;
    width: 30%;
    min-width: 308px;
    padding: 1%;
    margin: 0 1% 20px 0;
    border-radius: 2px;
    overflow: hidden; }
    @media handheld and (max-width: 690px), screen and (max-width: 690px) {
      body.minimal #list-view article.document {
        width: 98%;
        margin: 0 0 20px 0; } }
    body.minimal #list-view article.document:nth-child(odd) {
      background: rgba(82, 171, 209, 0.3);
      border: 1px solid rgba(40, 117, 149, 0.3);
      border-radius: 2px; }
    body.minimal #list-view article.document:nth-child(even) {
      background: rgba(104, 179, 100, 0.3);
      border: 1px solid rgba(61, 119, 58, 0.3);
      border-radius: 2px; }
    body.minimal #list-view article.document h1 {
      font-size: 2.618em; }
  body.minimal #edit-view textarea, body.minimal #edit-view input[type="text"], body.minimal #new-document-view textarea, body.minimal #new-document-view input[type="text"] {
    padding: 1%;
    margin-bottom: 20px;
    width: 98%;
    border: none;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    box-shadow: 0 0 10px #999;
    font-family: Monaco, Menlo, Consolas, Inconsolata, monospace;
    line-height: 1.7;
    font-size: 1.3em; }
    body.minimal #edit-view textarea:focus, body.minimal #edit-view input[type="text"]:focus, body.minimal #new-document-view textarea:focus, body.minimal #new-document-view input[type="text"]:focus {
      outline: none; }
  body.minimal #edit-view .annotation, body.minimal #new-document-view .annotation {
    padding: 10px;
    margin: 20px 0;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    box-shadow: 0 0 10px #999;
    position: relative; }
    body.minimal #edit-view .annotation blockquote, body.minimal #edit-view .annotation .attachment, body.minimal #new-document-view .annotation blockquote, body.minimal #new-document-view .annotation .attachment {
      font-size: 1.3em;
      font-family: Monaco, Menlo, Consolas, Inconsolata, monospace; }
    body.minimal #edit-view .annotation blockquote, body.minimal #new-document-view .annotation blockquote {
      color: #777777; }
    body.minimal #edit-view .annotation .delete, body.minimal #new-document-view .annotation .delete {
      font-family: Verdana, "Bitstream Vera Sans", sans-serif;
      font-size: 1em;
      position: absolute;
      bottom: 10px;
      right: 10px; }
  body.minimal footer, body.minimal #list-view #tool-bar {
    display: none; }

#application div.view {
  display: none; }
  #application div.view.active {
    display: block; }

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0; }

.ir br {
  display: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, body.minimal .wrap:before, .clearfix:after, body.minimal .wrap:after {
  content: "";
  display: table; }

.clearfix:after, body.minimal .wrap:after {
  clear: both; }

.clearfix, body.minimal .wrap {
  *zoom: 1; }

.clear {
  clear: both; }

/* =============================================================================
   Print Styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
