/*------------------------------------------------------------------------------
INDEX.CSS -- Annotare ❧ For Inquistive Minds
------------------------------------------------------------------------------*/
/**
 * Functions and mixins for Annotare
 */
.appriseOverlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none; }

.appriseOuter {
  background: #eee;
  border: 1px solid #fff;
  box-shadow: 0px 3px 7px #333;
  -moz-box-shadow: 0px 3px 7px #333;
  -webkit-box-shadow: 0px 3px 7px #333;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -khtml-border-radius: 4px;
  position: absolute;
  z-index: 99999999;
  min-width: 200px;
  min-height: 50px;
  max-width: 75%;
  position: fixed;
  display: none; }

.appriseInner {
  padding: 20px;
  color: #333;
  text-shadow: 0px 1px 0px #fff; }

.appriseInner button {
  border: 1px solid #bbb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px;
  background: -moz-linear-gradient(100% 100% 90deg, #eeeeee, #d5d5d5);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#d5d5d5));
  background: -webkit-linear-gradient(#eeeeee, #d5d5d5);
  background: -o-linear-gradient(#eeeeee, #d5d5d5);
  color: #232d3d;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 10px;
  margin: 0 3px;
  text-shadow: 0px 1px 0px #fff;
  cursor: pointer;
  box-shadow: 0px 1px 2px #ccc;
  -moz-box-shadow: 0px 1px 2px #ccc;
  -webkit-box-shadow: 0px 1px 2px #ccc; }

.appriseInner button:hover {
  color: #d85054; }

.aButtons, .aInput {
  text-align: center; }

.aTextbox {
  border: 1px solid #aaa;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -khtml-border-radius: 4px;
  box-shadow: 0px 1px 0px #fff;
  -moz-box-shadow: 0px 1px 0px #fff;
  -webkit-box-shadow: 0px 1px 0px #fff;
  width: 180px;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px; }

#dialog {
  position: fixed;
  left: 50%;
  top: 150px;
  max-width: 600px;
  min-width: 250px;
  border: 1px solid #eee;
  border-bottom-color: #cacaca;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px 0 #ddd;
  background: white;
  z-index: 1000; }

#dialog .content {
  padding: 15px 20px; }

#dialog h1 {
  margin: 0 0 5px 0;
  font-size: 16px;
  font-weight: normal; }

#dialog p {
  margin: 0;
  padding: 0;
  font-size: .9em; }

#dialog .actions button {
  padding: 5px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer; }

#dialog .actions button:hover {
  text-decoration: underline; }

#dialog .actions button.main {
  padding: 5px 15px;
  background: -webkit-linear-gradient(top, white 20%, #eeeeee);
  border: 1px solid #eee;
  border-bottom-color: #cacaca;
  -webkit-border-radius: 3px;
  outline: none; }

#dialog .actions button.main:hover {
  text-decoration: none;
  background: -webkit-linear-gradient(top, white 50%, #eeeeee); }

#dialog .actions button.main:active {
  background: -webkit-linear-gradient(bottom, white 20%, #eeeeee); }

#dialog.modal {
  -webkit-box-shadow: 0 1px 8px 0 black; }

/* close */
#dialog .close {
  position: absolute;
  top: 3px;
  right: 10px;
  text-decoration: none;
  color: #888;
  font-size: 16px;
  font-weight: bold;
  display: none; }

#dialog.closable .close {
  display: block; }

#dialog .close:hover {
  color: black; }

#dialog .close:active {
  margin-top: 1px; }

/* slide */
#dialog.slide {
  -webkit-transition: opacity 300ms, top 300ms; }

#dialog.slide.hide {
  opacity: 0;
  top: -500px; }

/* fade */
#dialog.fade {
  -webkit-transition: opacity 300ms; }

#dialog.fade.hide {
  opacity: 0; }

/* scale */
#dialog.scale {
  -webkit-transition: -webkit-transform 300ms;
  -webkit-transform: scale(1); }

#dialog.scale.hide {
  -webkit-transform: scale(0); }

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition: opacity 300ms;
  z-index: 500; }

#overlay.hide {
  pointer-events: none;
  opacity: 0; }

.confirmation .actions {
  border-top: 1px solid #eee;
  padding: 5px;
  text-align: right;
  background: #fafafa;
  -webkit-box-shadow: inset 0 1px 0 white; }

.color-picker canvas {
  border: 1px solid #888;
  cursor: crosshair; }

#notifications {
  position: fixed;
  top: 10px;
  right: 15px; }

#notifications li {
  margin-bottom: 5px;
  list-style: none; }

.notification {
  position: relative;
  max-width: 600px;
  min-width: 250px;
  border: 1px solid #eee;
  border-bottom-color: #cacaca;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px 0 #ddd;
  background: white;
  z-index: 9999; }

.notification .content {
  padding: 15px 20px; }

.notification h1 {
  margin: 0 0 5px 0;
  font-size: 16px;
  font-weight: normal; }

.notification p {
  margin: 0;
  padding: 0;
  font-size: .9em; }

.notification .close {
  position: absolute;
  top: 5px;
  right: 10px;
  text-decoration: none;
  color: #888;
  display: none; }

.notification.closable .close {
  display: block; }

.notification .close:hover {
  color: black; }

.notification .close:active {
  margin-top: 1px; }

/* close */
.notification .close {
  position: absolute;
  top: 3px;
  right: 10px;
  text-decoration: none;
  color: #888;
  font-size: 16px;
  font-weight: bold;
  display: none; }

/* slide */
.notification.slide {
  -webkit-transition: opacity 300ms, top 300ms; }

.notification.slide.hide {
  opacity: 0;
  top: -500px; }

/* fade */
.notification.fade {
  -webkit-transition: opacity 300ms; }

.notification.fade.hide {
  opacity: 0; }

/* scale */
.notification.scale {
  -webkit-transition: -webkit-transform 300ms;
  -webkit-transform: scale(1); }

.notification.scale.hide {
  -webkit-transform: scale(0); }

#context-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  margin: 0;
  padding: 0;
  background: white;
  -webkit-border-radius: 5px;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.2); }

#context-menu li {
  list-style: none; }

#context-menu li a {
  display: block;
  padding: 5px 30px 5px 12px;
  text-decoration: none;
  border-top: 1px solid #eee;
  color: #2e2e2e; }

#context-menu li:first-child a {
  border-top: none; }

#context-menu li a:hover {
  background: #f1faff; }

/* from: http://desandro.github.com/3d-webkit-transforms */
.card {
  width: 200px;
  height: 260px;
  position: relative;
  -webkit-perspective: 800; }

.card .wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  border: 1px solid #eee;
  border-bottom-color: #cacaca;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 0 white, 0 1px 4px 0 #dddddd; }

.card .face {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; }

.card .back {
  -webkit-transform: rotateY(180deg); }

.card.flipped .wrapper {
  -webkit-transform: rotateY(180deg); }

/* sideflip effect */
.card.sideflip .wrapper {
  -webkit-transform-origin: right center; }

.card.sideflip.flipped .wrapper {
  -webkit-transform: translateX(-100%) rotateY(180deg); }

/*------------------------------------------------------------------------------
-- BASE STYLES
------------------------------------------------------------------------------*/
html, body {
  height: 100%; }

body {
  background: #e8e1d3 url("/img/bg.png") repeat;
  color: #444444;
  font-size: 0.813em;
  line-height: 1.5;
  font-family: "Myriad Pro", sans-serif;
  margin: 0 0 0 0; }

#application div.view {
  display: none; }
  #application div.view.active {
    display: block; }

h1, h2, h3, h4, h5, h6 {
  font-family: old-standard-1, old-standard-2, "Times New Roman", Times, serif;
  font-weight: normal;
  margin: 0; }

h1 {
  font-size: 3.444em; }

h2 {
  font-size: 2.128em;
  margin: 1em 0;
  color: rgba(68, 68, 68, 0.6); }

h3 {
  font-size: 2.128em;
  color: rgba(68, 68, 68, 0.6); }

h4 {
  font-size: 1.315em; }

h5 {
  font-size: 1.315em; }

h6 {
  font-size: 0.813em; }

input {
  color: #444444;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid #777777;
  outline: none;
  font-size: 1em;
  font-family: Consolas, Inconsolata, monospace;
  margin-bottom: 20px; }
  input.placeholder {
    color: #777777; }

textarea.placeholder {
  color: #777777 !important; }

a {
  color: #91C0EB;
  text-decoration: none; }
  a:hover {
    background-color: rgba(189, 172, 151, 0.5); }

p {
  line-height: 1.5em; }

.wrap {
  max-width: 64%;
  margin: 0 auto;
  overflow: auto; }

/*------------------------------------------------------------------------------
-- HEADER
------------------------------------------------------------------------------*/
header nav {
  overflow: auto;
  padding: 1% 2% 1% 0;
  max-width: 65%;
  margin: 0 auto; }
  header nav a {
    color: #444; }
  header nav h1 {
    float: left;
    border-right: 3px double #211C18;
    margin: 0.3% 1% 0 1%;
    padding: 0.7% 0.35em 0 0;
    font-size: 2.128em;
    text-transform: uppercase; }
    header nav h1 a {
      font-family: old-standard-1, old-standard-2 !important;
      display: block;
      margin: 0;
      padding: 0 0.7em; }
  header nav ul {
    overflow: auto;
    margin: 0.8% 1.3% 1.3% 1.3%;
    padding: 0; }
    header nav ul li {
      display: block;
      float: left; }
      header nav ul li a {
        text-transform: uppercase;
        display: block;
        padding: 1em; }
header #status {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.85em;
  color: rgba(68, 68, 68, 0.6); }
  header #status.online #online {
    display: block; }
    header #status.online #online em {
      font-style: normal;
      color: rgba(132, 176, 84, 0.8); }
  header #status.online #offline {
    display: none; }
    header #status.online #offline em {
      font-style: normal;
      color: rgba(182, 32, 28, 0.7); }
  header #status.offline #online {
    display: none; }
    header #status.offline #online em {
      font-style: normal;
      color: rgba(132, 176, 84, 0.8); }
  header #status.offline #offline {
    display: block; }
    header #status.offline #offline em {
      font-style: normal;
      color: rgba(182, 32, 28, 0.7); }

/*------------------------------------------------------------------------------
-- TOOLBAR
------------------------------------------------------------------------------*/
.tool-bar-wrap, footer {
  width: 100%;
  border-top: 1px solid rgba(68, 68, 68, 0.9);
  border-bottom: 1px solid rgba(68, 68, 68, 0.9);
  -webkit-box-shadow: inset 0 0 10px #444444;
  background: rgba(182, 32, 28, 0.7) url("/img/red-linen.png");
  margin: 0 0 2% 0;
  text-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
  color: #e8e2d5; }

#tool-bar {
  max-width: 66%;
  padding: 1%;
  margin: 0 auto;
  font-family: museo-sans-1, museo-sans-2;
  text-transform: uppercase;
  font-size: 0.85em; }
  #tool-bar a {
    padding: 1.1% 0.5% 0.8% 0.5%;
    margin: 0 1.5%;
    color: #e8e2d4; }
    #tool-bar a:hover {
      background-color: transparent;
      -webkit-box-shadow: 0 2px 0 rgba(232, 226, 212, 0.8); }
    #tool-bar a.active {
      -webkit-box-shadow: 0 2px 0 rgba(232, 226, 212, 0.8), 0 -2px 0 rgba(232, 226, 212, 0.8); }

/*------------------------------------------------------------------------------
-- DOCUMENT
------------------------------------------------------------------------------*/
.one-column {
  position: relative; }
  .one-column article {
    width: 99%;
    border-right: none; }
  .one-column aside {
    width: 0;
    display: none; }

.two-column {
  position: relative; }
  .two-column article {
    width: 66%;
    border-right: 1px solid #211C18;
    padding-right: 2%;
    float: left; }
  .two-column aside {
    width: 30%;
    margin-left: 69%; }

/*------------------------------------------------------------------------------
-- FOOTER
------------------------------------------------------------------------------*/
footer {
  clear: both;
  padding: 0.5% 0;
  text-transform: uppercase;
  font-size: 0.9em;
  word-spacing: 0.5em;
  font-size: 0.85em; }
  footer section {
    padding: 1.1% 0.5%;
    margin: 0 1.5%; }

#stickey-footer-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -78px 0;
  /* Set footer height. */ }

footer, .push {
  height: 78px;
  /* Set footer height. */ }

/*------------------------------------------------------------------------------
-- EDIT VIEW
------------------------------------------------------------------------------*/
.new_document input, .edit_document input {
  width: 80%; }
.new_document textarea, .edit_document textarea {
  min-height: 500px;
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  background: #e8e1d3 url("/img/bg.png") repeat;
  font-size: 1em;
  font-family: Consolas, Inconsolata, monospace;
  color: #444444;
  outline: none; }

/*------------------------------------------------------------------------------
-- LIST VIEW
------------------------------------------------------------------------------*/
.list .document {
  border: 1px solid rgba(68, 68, 68, 0.8);
  background: rgba(189, 172, 151, 0.5);
  width: 95%;
  margin: 2% 0 5% 2%;
  padding: 0.5em; }
  .list .document:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 20px white; }

/*------------------------------------------------------------------------------
-- MODAL
------------------------------------------------------------------------------*/
.modal {
  background: #FAF8F7;
  overflow: auto;
  -webkit-border-radius: 20px;
  padding: 20px; }
  .modal h2 {
    margin-top: 0; }

#history {
  overflow: auto; }
  #history ul {
    padding: 0; }
    #history ul li {
      list-style: none; }
      #history ul li pre {
        overflow: auto; }

/*------------------------------------------------------------------------------
-- ANNOTATIONS
------------------------------------------------------------------------------*/
.highlight-mode span.highlightable:hover {
  background-color: #CCC;
  cursor: pointer; }

.highlight, .note {
  background-color: rgba(151, 201, 56, 0.5);
  padding: 0.2em 0 0.2em 0; }
  .highlight:hover .note-detail, .note:hover .note-detail {
    z-index: 2000; }

.note-detail {
  position: absolute;
  right: 2.3%;
  width: 29%;
  padding: 3px;
  background: #e8e1d3 url("/img/bg.png") repeat;
  border-top: 1px solid #444;
  border-left: 3px solid #444;
  z-index: 1000; }
  .note-detail:hover {
    z-index: 2000; }
