<!DOCTYPE html>
<html>
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    
    <title>Annotare | Personal Note Taking that's over 9000!</title>
    
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css" />
    
    <script type="text/javascript" data-main="/assets/js/main.js" src="/assets/js/require-jquery.js"></script>
</head>
<body>
    <h1><a href="/">Annotare</a></h1>
    <div id="content"></div>
</body>
</html>