<!DOCTYPE html>
<html>
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    
    <title>Annotare  ❧  For Inquistive Minds</title>
    
    <link type="text/css" rel="stylesheet" href="/assets/css/normalize.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/master.css" />
    
    <script type="text/javascript" data-main="/assets/js/main.js" src="/assets/js/require-jquery.js"></script>
    <script type="text/javascript" src="http://use.typekit.com/eho4xds.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
</head>
<body>
<div id="main">
	<nav>
	    <h1><a href="/">Annotare  ❧</a></h1>
	    <ul>
	    	<li><a href="#mode-read">Read</a></li>
	    	<li><a href="#mode-study">Study</a></li>	    	
	    </ul>
    </nav>
    
    <article id="content"></article>
    
    <aside></aside>
    
    <footer>Annotare  ❧  For Inquistive Minds</footer>
</div>
</body>
</html>