/*------------------------------------------------------------------------------

MASTER.CSS -- Annotare ❧ For Inquistive Minds

To compile this file into css, please run ./compilesass from the project root.

------------------------------------------------------------------------------*/

@import 'modular-scale/modular-scale.sass';
@import 'functions.scss';

/*------------------------------------------------------------------------------
-- BASE STYLES
------------------------------------------------------------------------------*/

$base-size: 0.813em;

$page-background: #FAF8F7 url("../img/bg.png") repeat;
$font-color: #444;

$dark-gray: rgba(68, 68, 68, 0.35);
$red: #CC0000;
$green: #00CC00;

$sans: 'Myriad Pro', sans-serif;
$serif: old-standard-1, old-standard-2, 'Times New Roman', Times, serif;
$code: Consolas, Incolsolata, monospace;

body {
	background: $page-background;
	color: $font-color;
	
	font-size: modular-scale(0);
	line-height: 1.5;
	font-family: $sans;
	
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $serif;
	font-weight: normal;
	margin: 0;
}

h1 { font-size: modular-scale(3); }
h2 { 
	font-size: modular-scale(2); 
	margin: 1em 0;
}
h3 { font-size: modular-scale(2); }
h4 { font-size: modular-scale(1); }
h5 { font-size: modular-scale(1); }
h6 { font-size: modular-scale(0); }

input {
  color: $font-color;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid lighten($font-color, 20%);;
  outline: none;
  font-size: modular-scale(1);
  font-family: $code;
  margin-bottom: 20px;
  &.placeholder {
    color: lighten($font-color, 20%);
  }
}

textarea {
  &.placeholder {
    color: lighten($font-color, 20%) !important;
  }
}

a {
	color: #91C0EB;
	text-decoration: none;
  &:hover {
	  background-color: rgba(68, 68, 68, 0.3);
  }
}

p {
	line-height: 1.5em;
}

#status {
  position: fixed;
  top: 0;
  right: 0;
  padding: 2px 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 0 5px $font-color;
  &.online {
    background: $green;
    #online { display: inline; }
    #offline { display: none; }
  }
  
  &.offline {
    background: $red;
    color: white;
    #online { display: none; }
    #offline { display: inline; }
  }
}

.wrap {
	max-width: 64%;
	margin: 0 auto;
	
	overflow: auto;
}

/*------------------------------------------------------------------------------
-- HEADER
------------------------------------------------------------------------------*/

header {
	nav {
		overflow: auto;
		padding: 1% 2% 1% 0;
		
		max-width: 65%;
		margin: 0 auto;
		
		a {
			color: #444;
		}
		
		h1 {
			float: left;
			border-right: 3px double #211C18;
			margin: 0.3% 1% 0 1%;
			padding: 0.7% 0.35em 0 0;
			
			font-size: modular-scale(2);
			text-transform: uppercase;
			
			a {
				font-family: old-standard-1, old-standard-2 !important;
				display: block;
				margin: 0;
				padding: 0 0.7em;
			}
		}
		
		ul {
			overflow: auto;
			margin: 0.8% 1.3% 1.3% 1.3%;
			padding: 0;
			
			li {
				display: block;
				float: left;
				
				a {
					text-transform: uppercase;
					
					display: block;
					padding: 1em;
				}
			}
		}
	}
}

/*------------------------------------------------------------------------------
-- TOOLBAR
------------------------------------------------------------------------------*/

.tool-bar-wrap {
	border-top: 1px solid rgba(250, 248, 247, 0.4);
	border-bottom: 1px solid rgba(250, 248, 247, 0.4);
	-webkit-box-shadow: 0 -1px 0 #211C18, 0 1px 0 #211C18;
	background-color: $dark-gray;
	margin: 0 0 2% 0;
}

#tool-bar {
	max-width: 66%;
	padding: 1%;
	margin: 0 auto;
	
	font-family: museo-sans-1, museo-sans-2;
	text-transform: uppercase;
	font-size: 0.85em;
	
	a {
		padding: 1.1% 0.5% 0.8% 0.5%;
		margin: 0 1.5%;
		color: rgba(33, 28, 24, 0.7);
		
		&:hover {
			background-color: transparent;
			-webkit-box-shadow: 0 2px 0 rgba(33, 28, 24, 0.65);
		}
		
		&.active {
		  -webkit-box-shadow: 0 2px 0 rgba(33, 28, 24, 0.65), 0 -2px 0 rgba(33, 28, 24, 0.65);
	  }
	}
}

/*------------------------------------------------------------------------------
-- DOCUMENT
------------------------------------------------------------------------------*/

.one-column {
	article {
    	width: 100%;
    	border-right: none;
    	
    	@include transition(width);
	}
    
    aside { 
    	width: 0; 
    	display:none; 
    	
    	@include transition(width);
    }
}

.two-column {
	article {
		width: 66%;
		border-right: 1px solid #211C18;
		padding-right: 2%;
		
		float: left;
		
		@include transition(width);
	}
	
	aside { 
		width: 30%; 
		margin-left: 69%;
		
		@include transition(width);
	}
}

/*------------------------------------------------------------------------------
-- FOOTER
------------------------------------------------------------------------------*/

footer {
	clear: both;
	
	margin: 4% 0 8% 0;
	border-top: 3px double #211C18;
	padding: 1% 0 0 0;
	
	text-transform: uppercase;
	font-size: 0.9em;
	word-spacing: 0.5em;
}


/*------------------------------------------------------------------------------
-- EDIT VIEW
------------------------------------------------------------------------------*/

#edit, #new {
  input {
    width: 80%;
  }
  textarea {
    min-height: 500px;
    width: 100%;
	  border: none;
	  padding: 0;
	  margin: 0;
	  background: $page-background;
	  font-size: modular-scale(1);
	  font-family: $code;
	  color: $font-color;
	  outline: none;
  }
}


/*------------------------------------------------------------------------------
-- EDIT VIEW
------------------------------------------------------------------------------*/

#list_docs {
  .document {
    background: white;
    box-shadow: -2px 2px 10px #111;
    border-radius: 5px;
    float: left;
    width: 280px;
    height: 280px;
    overflow: hidden;
    border: 1px solid $font-color;
    padding: 0 20px;
    margin: 10px;
    cursor: pointer;
    @include transition(all);
    
    &:hover {
      -webkit-transform: rotate(2deg);
      position: relative;
      z-index: 2000;
      cursor: pointer;
    }
  }
}


/*------------------------------------------------------------------------------
-- MODAL
------------------------------------------------------------------------------*/

.modal {
	background: #FAF8F7;
	overflow: auto;
	
	padding: 3%;
	-webkit-border-radius: 20px;

  h2 {
	  margin-top: 0;
  }
}


/*------------------------------------------------------------------------------
-- ANNOTATIONS
------------------------------------------------------------------------------*/

.highlight-mode {
  span {
    &.highlightable {
      &:hover {
        background-color: #CCC;
	      cursor: pointer;
      }
    }
  }
}

.highlight {
	background-color: #91C0EB;
	padding: 0.2em 0.2em 0.2em 0.3em;
	margin-right: 0.3em;
}



