@import 'modular-scale/modular-scale';

@mixin shadow($blur, $color) {
  box-shadow: 0 0 $blur $color;
  -webkit-box-shadow: 0 0 $blur $color;
  -moz-box-shadow: 0 0 $blur $color;
}

@mixin round($rad) {
  border-radius: $rad;
  -webkit-border-radius: $rad;
  -mox-border-radius: $rad;
}

@mixin round_corner($rad, $side) {
  border-#{$side}-radius: $rad;
  -webkit-#{$side}-left-radius: $rad;
  -moz-border-#{$side}-radius: $rad;
}

@mixin transition() {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

$width: 960px;
$main: $width * 0.63;
$sidebar: $width * 0.33;

body {
  width: $width;
  margin-left: auto;
  margin-right: auto;
  background: #EEE;
  color: #333;
  font: 13px/1.5 Helvetica, Arial, sans-serif;
}

h1 { font-size: modular-scale(3); }
h2 { font-size: modular-scale(2); }
h3 { font-size: modular-scale(1); }
h4 { font-size: modular-scale(1); }
h5 { font-size: modular-scale(0); }
h6 { font-size: modular-scale(0); }

h1, h2, h3, h4, h5, h6 { 
  margin-bottom: 0;
  a {
    color: #333;
    text-decoration: none;
    &:hover{
      color: darken(#333, 20%);
    }
  }
}

.clear {
  clear: both;
}

.annotation-popover, .annotation {
  background: #FFF;
  border: 1px solid #333;
  position: absolute;
  right: 0px;
  width: $sidebar;
}

#page-title {
  float: right;
  font-size: modular-scale(2);
  position: relative;
  z-index: 6000;
  top: -28px;
}

#content {
  width: $main;
  float: left;
  padding-top: 30px;
  padding-bottom: 50px;
  .highlightable {
    padding: 2px;
  }
  .highlight {
    font-style: normal;
    background: #FFFF00;
  }
  @include round(10px);
}

#sidebar {
  width: $sidebar;
  float: right;
  padding-top: 30px;
  padding-bottom: 50px;
}

.highlight-mode {
  .highlightable {
    cursor: pointer;
    &:hover {
      background: #CCC;
    }
  }
}

#edit {
  textarea {
    width: 100%;
    height: 600px;
    font: 13px/1.5 Consolas, monospace;
  }
}

#history {
  overflow: auto;
  ul {
    padding-left: 0;
    li {
      list-style: none;
      font-weight: bold;
      margin-bottom: 20px;
      pre {
        overflow: auto;
        margin: 0;
        code {
          font-weight: normal;
          font: 11px monospace;
        }
      }
    }
  }
}

div.modal {
  padding: 20px;
  color: #222;
  background: #EEE;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#tool-bar {
  padding: 10px;
  position: fixed;
  top: 0;
  width: $width;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.6);
  z-index: 5000;
  @include round_corner(10px, bottom-left);
  @include round_corner(10px, bottom-right);
  @include shadow(10px, #111);
  @include transition();
  &:hover { background: rgba(255, 255, 255, 0.95); }
  a {
    background: #DDD;
    color: #666;
    text-decoration: none;
    margin: 0 5px;
    display: inline-block;
    padding: 2px 5px;
    @include round(5px);
    border: 1px solid #999;
    @include shadow(10px, #CCC);
    &:hover {
      background: #CCC;
    }
    &.active, &:active {
      background: #BBB;
      font-weight: bold;
    }
  }
}

#footer {
  border-top: 1px solid #999;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #666;
  font-size: 12px;
}





