body {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  background: #EEE;
  color: #333;
  font: 13px/1.5 Helvetica, Arial, sans-serif; }

h1 {
  font-size: 51px; }

h2 {
  font-size: 31px; }

h3 {
  font-size: 19px; }

h4 {
  font-size: 19px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 12px; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #333;
    text-decoration: none; }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
      color: black; }

#footer {
  border-top: 1px solid #999;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #666;
  font-size: 12px; }

#content {
  padding-bottom: 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -mox-border-radius: 10px; }
  #content #tool-bar {
    text-align: right; }
    #content #tool-bar a {
      padding-left: 10px; }
  #content .highlightable {
    padding: 2px; }
  #content .highlight {
    font-style: normal;
    background: #FFFF00; }

.highlight-mode .highlightable {
  cursor: pointer; }
  .highlight-mode .highlightable:hover {
    background: #CCC; }

#edit textarea {
  width: 100%;
  height: 600px;
  font: 13px/1.5 Consolas, monospace; }

#history {
  overflow: auto; }
  #history ul {
    padding-left: 0; }
    #history ul li {
      list-style: none;
      font-weight: bold;
      margin-bottom: 20px; }
      #history ul li pre {
        overflow: auto;
        margin: 0; }
        #history ul li pre code {
          font-weight: normal;
          font: 11px monospace; }

div.modal {
  padding: 20px;
  color: #222;
  background: #EEE;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

#tool-bar {
  padding: 10px;
  position: fixed;
  bottom: 50px;
  right: 100px;
  background: #EEE;
  box-shadow: 0 0 10px #111111;
  -webkit-box-shadow: 0 0 10px #111111;
  -moz-box-shadow: 0 0 10px #111111;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -mox-border-radius: 10px; }
  #tool-bar a {
    background: #DDD;
    color: #666;
    text-decoration: none;
    margin: 0 5px;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -mox-border-radius: 5px;
    border: 1px solid #999;
    box-shadow: 0 0 10px #cccccc;
    -webkit-box-shadow: 0 0 10px #cccccc;
    -moz-box-shadow: 0 0 10px #cccccc; }
    #tool-bar a:hover {
      background: #CCC; }
    #tool-bar a.active, #tool-bar a:active {
      background: #BBB;
      font-weight: bold; }
