// Minimal Annotare Theme

$base-size: 1em;
$line-height: 1.7;

$page-background: #EEE url('/img/white_texture.png') repeat;
$app-background: rgba(255, 255, 255, 0.6);

$font-color: #444;

$secondary: #52ABD1;
$tertiary: #D15252;
$quaternary: #68B364;

$black: rgba(0, 0, 0, 0.8);

$max-width: 1200px;
$mobile-width: 400px;
$border-radius: 2px;
$gutter: 10px;

$sans: Verdana, 'Bitstream Vera Sans', sans-serif;
$serif: Palatino, Georgia, serif;
$code: Monaco, Menlo, Consolas, Inconsolata, monospace;

@mixin box($color) {
  background: $color;
  border: 1px solid darken($color, 20%);
  border-radius: 2px;
}

body.minimal {
  background: $page-background;
  color: $font-color;
  
  width: 95%;
  max-width: $max-width;
  margin-right: auto;
  margin-left: auto;
  
  font-size: 11px;
  line-height: $line-height;
  font-family: $sans;
  
  .sans { font-family: $sans; }
  .serif { font-family: $serif; }
  .bold { font-weight: bold; }
  .normal { font-weight: normal; }
  
  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    margin: 10px 0 10px 0;
  }
  
  h1 {
    font-size: modular-scale(2);
    @extend .normal;
    @extend .serif;
  }
  h2 {
    font-size: modular-scale(2);
    @extend .normal;
    @extend .serif;
  }
  h3 {
    font-size: modular-scale(1);
    @extend .bold;
    @extend .serif;
  }
  h4 {
    font-size: modular-scale(1);
    @extend .bold;
    @extend .serif;
  }
  h5 {
    font-size: modular-scale(0);
    @extend .bold;
    @extend .sans;
  }
  h6 {
    font-size: modular-scale(0);
    @extend .bold;
    @extend .sans;
  }
  
  a {
    text-decoration: none;
    color: $font-color;
    font-weight: bold;
  }
  
  header {
    width: 95%;
    max-width: $max-width;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    top: 0;
    z-index: 9999;
    
    background: $black;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    
    nav {
      padding: 0 $gutter*2;
      
      h1 {
        float: left;
      }
      
      h1 a, ul li a {
        padding-top: $gutter;
        padding-bottom: $gutter;
      }
      
      h1, ul, ul li {
        &, a {
          margin: 0;
          font-size: modular-scale(0);
          line-height: $line-height;
          color: #EEE;
          font-weight: bold;
          display: inline-block;
        }
      }
      
      ul {
        float: right;
        li {
          margin: 0;
          padding: 0 $gutter;
          &:not(:first-child) {
            border-left: 1px solid lighten($black, 15%);
          }
        }
      }
    }
  }
  
  section {
    &.two-column {
      article {
        width: 75%;
        float: left;
      }
      aside {
        width: 20%;
        float: left;
      }
    }
  }
  
  blockquote {
    border-left: 8px solid #CCC;
    margin-left: 10px;
    padding-left: 7px;
  }
  
  .wrap {
    display: block;
    position: relative;
    @extend .clearfix;
  }
  
  .note, .highlight {
    color: #FFF;
    border-radius: 2px;
    padding: 0 2px 0 2px;
  }
  
  .note {
    &:nth-child(even), &:nth-child(even) .note-detail {
      @include box($secondary);
    }
    &:nth-child(odd), &:nth-child(odd) .note-detail {
      @include box($quaternary);
    }    
    .note-detail {
      display: inline-block;
      max-width: 20%;
      height: $base-size * $line-height;
      padding: 1px 2px;
      position: absolute;
      right: 0px;
      color: #FFF;
      z-index: 5000;
    }
    &:hover .note-detail, .note-detail:focus {
      height: auto;
      z-index: 6000;
      outline: none;
    }
    .note-detail:focus {
      box-shadow: inset 0 0 2px #666;
    }
  }
  .highlight {
    background: $tertiary;
  }
  
  #application {
    margin-top: 56px;
    margin-bottom: 56px;
  }
  
  #tool-bar {
    width: 95%;
    max-width: $max-width;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    
    background: $black;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    
    a, label {
      font-size: modular-scale(0);
      line-height: $line-height;
      color: #EEE;
      font-weight: bold;
      display: inline-block;
      padding: $gutter $gutter*2;
    }
    
    input[type='range'] {
      position: relative;
      top: 5px;
    }
  }
  
  #list-view {
    article.document {
      height: 200px;
      float: left;
      cursor: pointer;
      width: 30%;
      min-width: 308px;
      padding: 1%;
      margin: 0 1% 20px 0;
      border-radius: $border-radius;
      overflow: hidden;
      
      @media handheld and (max-width: 690px), screen and (max-width: 690px) {
        width: 98%;
        margin: 0 0 20px 0;
      }
      
      &:nth-child(odd) {
        $temp_red: red($secondary);
        $temp_green: green($secondary);
        $temp_blue: blue($secondary);
        $temp: rgba($temp_red, $temp_green, $temp_blue, 0.3);
        @include box($temp);
      }
      &:nth-child(even) {
        $temp_red: red($quaternary);
        $temp_green: green($quaternary);
        $temp_blue: blue($quaternary);
        $temp: rgba($temp_red, $temp_green, $temp_blue, 0.3);
        @include box($temp);
      }
      h1 {
        font-size: modular-scale(2);
      }
    }
  }
  
  #edit-view, #new-document-view {
    textarea, input[type="text"] {
      padding: 1%;
      margin-bottom: 20px;
      width: 98%;
      border: none;
      background: $app-background;
      border-radius: $border-radius;
      box-shadow: 0 0 10px #999;
      
      font-family: $code;
      line-height: $line-height;
      font-size: 1.3em;
      
      &:focus {
        outline: none;
      }
    }
    
    .annotation {
      padding: $gutter;
      margin: 20px 0;
      background: $app-background;
      border-radius: $border-radius;
      box-shadow: 0 0 10px #999;
      position: relative;
      blockquote, .attachment {
        font-size: 1.3em;
        font-family: $code;
      }
      blockquote {
        color: lighten($font-color, 20%);
      }
      .delete {
        font-family: $sans;
        font-size: 1em;
        position: absolute;
        bottom: $gutter;
        right: $gutter;
      }
    }
  }
  
  footer, #list-view #tool-bar {
    display: none;
  }
}






