// Minimal Annotare Theme

$base-size: 1em;
$line-height: 1.7;

$page-background: #EEE url('/img/white_texture.png') repeat;
$app-background: rgba(255, 255, 255, 0.4);

$font-color: #222;

$secondary: #52ABD1;
$secondary_red: red($secondary);
$secondary_green: green($secondary);
$secondary_blue: blue($secondary);
$secondary: rgba($secondary_red, $secondary_green, $secondary_blue, 0.3);

$tertiary: #D15252;
$tertiary_red: red($tertiary);
$tertiary_green: green($tertiary);
$tertiary_blue: blue($tertiary);
$tertiary: rgba($tertiary_red, $tertiary_green, $tertiary_green, 0.3);

$quaternary: #68B364;
$quaternary_red: red($quaternary);
$quaternary_green: green($quaternary);
$quaternary_blue: blue($quaternary);
$quaternary: rgba($quaternary_red, $quaternary_green, $quaternary_blue, 0.3);

$black: rgba(0, 0, 0, 0.8);

$column-nbr: 12;
$column-width: 80;
$gutter-width: 20;
$max-width: (($column-nbr * $column-width) + ($column-nbr * $gutter-width));
$gutter-width-percentage: (($gutter-width / $max-width) * 100%);

$golden: 1.61803399;
$ratio: $golden;

$border-radius: 3px;

$sans: Verdana, 'Bitstream Vera Sans', sans-serif;
$serif: 'Neuton', Palatino, Georgia, serif;
$code: Menlo, Consolas, Inconsolata, monospace;

@mixin box($color) {
  background: $color;
  border: 1px solid darken($color, 20%);
  border-radius: 2px;
  padding: $gutter-width-percentage / 2;
}

@mixin input() {
  border: 1px solid #999;
  font-size: 1.3em;
  @include sans;
  border-radius: $border-radius;
  background: $app-background;
  padding: $gutter-width-percentage / 2 $gutter-width-percentage;
}

@mixin container() {
  margin: 0 auto;
	padding: 0;
	width: 95%;
	max-width: ($max-width) + px;
}

@function grid_width($nbr) {
  @return ((($column-width / $max-width) * $nbr) * 100%) + (($nbr - 1) * $gutter-width-percentage);
}

@mixin grid($nbr) {
	float:left;
	margin: $gutter-width-percentage / 2;
	width: grid_width($nbr);
	box-sizing: border-box;
}

@mixin grid_container($nbr) {
	float:left;
	width: grid_width($nbr) + $gutter-width-percentage;
	box-sizing: border-box;
}

@mixin alpha() {
  margin-left: 0;
}

@mixin omega() {
  margin-right: 0;
}

@mixin sans { font-family: $sans; }
@mixin serif { font-family: $serif; }

@mixin extra-light { font-weight: 100; }
@mixin light { font-weight: 200; }
@mixin normal { font-weight: 400; }
@mixin bold { font-weight: 800; }
@mixin extra-bold { font-weight: 900; }

@mixin cursive { 
  @include serif;
  @include light;
  font-style: italic;
}

@mixin hide { display: none; }
@mixin reset { margin: 0 0 0 0; padding: 0 0 0 0; }

body.minimal {
  background: $page-background;
  color: $font-color;
  
  font-size: 11px;
  line-height: $line-height;
  font-family: $sans;
  
  box-sizing: border-box;
  * { box-sizing: border-box; }
  
  width: 100%;
  @include reset;
  #stickey-footer-wrap { @include container; position: relative; }
  
  p {
    margin: 0 0 20px 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @include serif;
    line-height: 1;
    color: lighten($font-color, 10%);
    margin: 20px 0 0 0;
    a { color: lighten($font-color, 10%); }
  }
  
  h1 {
    font-size: modular-scale(3);
    @include normal;
  }
  h2 {
    font-size: modular-scale(2);
    @include normal;
  }
  h3 {
    font-size: modular-scale(1);
    @include normal;
  }
  h4 {
    font-size: modular-scale(1);
    @include light;
  }
  h5 {
    font-size: modular-scale(0);
    @include sans;
  }
  h6 {
    font-size: modular-scale(0);
    @include sans;
  }
  
  a {
    text-decoration: none;
    color: $font-color;
    font-weight: bold;
  }
  
  pre {
    @include box(lighten($secondary, 10%));
  }
  code {
    font-family: $code;
  }
  
  #application {
    margin-top: 56px;
    margin-bottom: 56px;
  }
  
  #dialog, .notification {
    h1, h2, h3, h4, h5, h6 {
      @include serif;
      font-size: 1.3em;
      font-weight: bold;
    }
    @include sans;
    font-size: 1.1em;
  }
  
  header {
    position: fixed;
    top: 0;
    z-index: 9999;
    @include container();
    
    nav {
      @include grid(12); 
      @include box($black);
      border-top: none;
      margin-top: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      
      h1 {
        float: left;
      }
      
      h1, ul, ul li {
        &, a {
          margin: 0;
          font-size: modular-scale(0);
          line-height: $line-height;
          color: #EEE;
          font-weight: bold;
          display: inline-block;
        }
      }
      
      ul {
        float: right;
        li {
          display: inline-block;
          margin: 0 0 0 20px;
        }
      }
    }
  }
  
  .tool-bar-wrap {
    position: fixed;
    bottom: 0;
    z-index: 9999;
    @include container();
    
    nav {
      @include grid(12);
      @include box($black);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      margin-bottom: 0;
    
      a, label {
        font-size: modular-scale(0);
        line-height: $line-height;
        color: #EEE;
        font-weight: bold;
        display: inline-block;
        margin-right: 20px;
      }
    
      input[type='range'] {
        position: relative;
        top: 5px;
      }
    }
  }
  
  section {
    &.one-column {
      article {
        @include grid_container(12);
      }
      aside {
        display: none;
      }
    }
    &.two-column {
      article {
        @include grid_container(8);
      }
      aside {
        @include grid_container(4);
      }
    }
  }
  
  blockquote {
    margin-left: 8px;
    padding-left: 8px;
    border-left: 8px solid $secondary;
  }
  
  .wrap {
    display: block;
    position: relative;
    @extend .clearfix;
  }
  
  .note {
    padding: 0 0.5% !important;
    
    &:nth-child(even), &:nth-child(even) .note-detail {
      @include box($secondary);
    }
    &:nth-child(odd), &:nth-child(odd) .note-detail {
      @include box($quaternary);
    }
    .note-detail {
      max-width: grid_width(4);
      padding: 0 0.5% !important;
      display: inline-block;
      height: $base-size * $line-height;
      position: absolute;
      right: 1%;
      z-index: 5000;
      overflow: hidden;
    }
    &:hover .note-detail, .note-detail:focus {
      height: auto;
      z-index: 6000;
      outline: none;
    }
    .note-detail:focus {
      box-shadow: inset 0 0 2px #666;
      outline: none;
    }
  }
  .highlight {
    @include box($tertiary);
    padding: 0 0.5%;
  }
  
  #detail-view, #history-view {
    .wrap {
      @include grid(12);
      @include box($app-background);
      margin-bottom: 56px;
    }
  }
  
  #list-view {
    form#search-form {
      @include grid(12);
      input {
        @include input();
        width: 100%;
        &:focus { outline: none; }
      }
    }
    
    p.new-document {
    	cursor: pointer;    	
    	border-radius: $border-radius;
    	@include box($secondary);
    }
    
    article {
      @include grid(4);
      height: 200px;
      float: left;
      cursor: pointer;
      border-radius: $border-radius;
      overflow: hidden;
      
      @media handheld and (max-width: 800px) and (min-width: 500px), screen and (max-width: 800px) and (min-width: 500px) {
        @include grid(6);
      }
      @media handheld and (max-width: 500px), screen and (max-width: 500px) {
        @include grid(12);
      }
      
      &:nth-child(odd) {
        @include box($secondary);
      }
      &:nth-child(even) {
        $temp_red: red($quaternary);
        $temp_green: green($quaternary);
        $temp_blue: blue($quaternary);
        $temp: rgba($temp_red, $temp_green, $temp_blue, 0.3);
        @include box($temp);
      }
      h1 {
        font-size: modular-scale(2);
      }
    }
  }
  
  #edit-view, #new-document-view {
    h1, h2 { @include grid(12); }
    textarea, input[type="text"] {
      @include input();
      @include grid(12);
      margin-top: 10px;
      margin-bottom: 10px;
      font-family: $code;
      line-height: $line-height;
      font-size: 1.3em;
      
      &:focus {
        outline: none;
      }
    }
    
    textarea { height: 400px; }
    
    .annotation {   
      @include grid(4);
         
      &:nth-child(odd) {
        @include box($secondary);
      }
      &:nth-child(even) {
        @include box($quaternary);
      }
      border-radius: $border-radius;
      position: relative;
      blockquote, .attachment {
        font-size: 1.3em;
        font-family: $code;
      }
      blockquote {
        border-left: 3px solid lighten($font-color, 20%);
        color: lighten($font-color, 20%);
      }
      .delete {
        font-family: $sans;
        font-size: 1em;
        position: absolute;
        bottom: 5px;
        right: 10px;
      }
    }
  }
  
  footer, #list-view #tool-bar {
    @include hide;
  }
}






